html {
    scroll-behavior: smooth;
}

body {
    background-color: #0e172c;
    background-size: cover;
}

header {
    height: 500px;
}

.fa ,.fa-star {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    margin: 2px 2px;
    color:white ;
}
img {
    display: block
}
.card-footer {
    font-size: 22px;
    font-weight: bold;
}

.navbar {
    background-color:#0e172c;
    padding: 8px;
    opacity: 0.9;
}

.navbar .navbar-nav .nav-link {
    font-size: 1.1em;
}

.navbar-logo-centered .navbar-nav .nav-link {
    padding-left:30px;
    padding-right:30px;
}

.navbar-nav > li {
    padding-left:30px;
    padding-right:30px;
}

#about {
    background: rgb(14,23,44); 
    opacity: 0.9; 
    border-radius:5px;
}

#project {
    background-color:#d3d3d3;
    cursor: pointer;
    text-decoration:none;
    color: #0e172c;
}

#journeySection {
    float:left;
    align-self: baseline; 
    background: rgb(14,23,44); 
    opacity: 0.8; 
    border-radius:5px;
}

.copyright {
    background-color: #d9d4e7;
}
